/* Node description boxes */
.node-description {
  padding: 5px 10px;
}

/* Node description styles for different node types */
.node-unassigned {
  background: lightcoral;
}
.node-clusterhead {
  background: lightcyan;
}
.node-membernode {
  background: lightyellow;
}

.node-active {
  text-decoration-line: none;
}

.node-inactive {
  text-decoration-line: line-through;
}

.node-triggeredactuator {
  border-color: red;
  border-style: solid;
}

.node-msg-triggeredactuator {
  color: red;
  font-weight: bold;
}

/* Input labels */
.input-group > label {
  padding-right: 5px;
  align-self: center;
}

/* Buttons */
.btn-primary {
  margin: 5px 0px;
}
